body{
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    padding:10px;
    border: 1px solid grey;
    background-color: grey;
}

#container{
    display:flex;
    margin-top:10px;
}
#sidebar{
    width:250px;
    border-right: 1px solid grey;
    padding:10px;
    background-color: antiquewhite;
}
#main{
    flex-grow:1;
    padding:15px;
    display:grid;
    grid-template-columns: repeat(3,fr);
    gap: 20px;
}
